In [2]:
import pandas as pd

# First dataset for renaming columns
data1 = {
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30],
    'Salary': [50000.0, 60000.0]
}

df1 = pd.DataFrame(data1)

# Rename specific columns
df1.rename(columns={'Name': 'Employee Name', 'Salary': 'Monthly Salary'}, inplace=True)

print("Renamed Columns DataFrame:")
print(df1)
print()

# Second dataset for dropping duplicates
data2 = {
    'Name': ['Alice', 'Bob', 'Alice'],
    'Age': [25, 30, 25],
    'Salary': [50000.0, 60000.0, 50000.0]
}

df2 = pd.DataFrame(data2)

# Drop duplicate rows
df2.drop_duplicates(inplace=True)

print("DataFrame After Dropping Duplicates:")
print(df2)

Renamed Columns DataFrame:
  Employee Name  Age  Monthly Salary
0         Alice   25         50000.0
1           Bob   30         60000.0

DataFrame After Dropping Duplicates:
    Name  Age   Salary
0  Alice   25  50000.0
1    Bob   30  60000.0