In [5]:





import pandas as pd

data = {
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30],
    'Salary': [50000.0, 60000.0],
    'IsManager': [False, True]
}

df = pd.DataFrame(data)

print(df.dtypes)








# QUestion 2: Renaming Columns: [True,
# 10. Change the names of specific columns using rename().





import pandas as pd

data = {
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30],
    'Salary': [50000.0, 60000.0]
}

df = pd.DataFrame(data)

# Rename specific columns
df.rename(columns={'Name': 'Employee Name', 'Salary': 'Monthly Salary'}, inplace=True)

print(df)



















# Question 3: Dropping Duplicates
# 11. Remove duplicate rows from the DataFrame.










import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Alice'],
    'Age': [25, 30, 25],
    'Salary': [50000.0, 60000.0, 50000.0]
}

df = pd.DataFrame(data)

# Remove duplicate rows
df.drop_duplicates(inplace=True)

print(df)

Name          object
Age            int64
Salary       float64
IsManager       bool
dtype: object
  Employee Name  Age  Monthly Salary
0         Alice   25         50000.0
1           Bob   30         60000.0
    Name  Age   Salary
0  Alice   25  50000.0
1    Bob   30  60000.0

In [7]:
# Data Aggregation & Exporting
# Objective: Aggregate data and export the results.

# Question 1: Grouping and Aggregating Data
# 12. Group data by a specific column and calculate the mean for each group.





import pandas as pd

# Step 1: Load Data
data = {
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT'],
    'Salary': [50000, 60000, 52000, 55000, 61000],
    'Age': [25, 30, 26, 40, 31]
}

df = pd.DataFrame(data)

# Step 2: Aggregate Data
grouped_df = df.groupby('Department').mean(numeric_only=True)

# Print aggregated data
print(grouped_df)

# Step 3: Export Aggregated Data to CSV
grouped_df.to_csv('aggregated_data.csv', index=False)


























# Question 2: Exporting Data to CSV
# 13. Export the DataFrame to a new CSV file.





import pandas as pd

# Step 1: Load Data
data = {
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT'],
    'Salary': [50000, 60000, 52000, 55000, 61000],
    'Age': [25, 30, 26, 40, 31]
}

df = pd.DataFrame(data)

# Step 2: Group and Aggregate Data
grouped_df = df.groupby('Department').mean(numeric_only=True)

# Print aggregated data
print(grouped_df)

# Step 3: Export Aggregated Data to CSV
grouped_df.to_csv('aggregated_data.csv', index=False)






















# Question 3: Aggregating with Multiple Functimport pandas as pd








import pandas as pd

# Example code with proper separation of statements and defining all variables

# Defining a variable
ions = 5  # Ensure 'ions' is defined before using it

# Some operations
x = 10
y = 20
z = x + y  # Result of adding x and y

# Using the 'ions' variable
result = ions + z  # Adding ions to the sum of x and y

# Printing the result
print("The result is:", result)

# Additional code to avoid other errors (separating statements correctly)
a = 30
b = 40
total = a + b  # Sum of a and b
print("Total:", total)

# Example of function that could use 'ions' in a different context
def some_function():
    return ions * 2  # Using 'ions' here

# Calling the function and printing its result
function_result = some_function()
print("Function result:", function_result)

# Data aggregation and export example
data = {
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT'],
    'Salary': [50000, 60000, 52000, 55000, 61000],
    'Age': [25, 30, 26, 40, 31]
}

df = pd.DataFrame(data)

# Group by 'Department' and calculate mean for each numeric column
grouped_df = df.groupby('Department').mean(numeric_only=True)
print(grouped_df)

# Export grouped data to CSV
grouped_df.to_csv('aggregated_data.csv', index=False)

# Apply multiple aggregation functions
grouped_multiple = df.groupby('Department').agg({
    'Salary': ['mean', 'max', 'min'],
    'Age': ['mean', 'max']
})
print(grouped_multiple)

# Export grouped data with multiple aggregation functions to CSV
grouped_multiple.to_csv('aggregated_multiple_data.csv', index=False)

             Salary   Age
Department
Finance     55000.0  40.0
HR          51000.0  25.5
IT          60500.0  30.5
             Salary   Age
Department
Finance     55000.0  40.0
HR          51000.0  25.5
IT          60500.0  30.5
The result is: 35
Total: 70
Function result: 10
             Salary   Age
Department
Finance     55000.0  40.0
HR          51000.0  25.5
IT          60500.0  30.5
             Salary                 Age
               mean    max    min  mean max
Department
Finance     55000.0  55000  55000  40.0  40
HR          51000.0  52000  50000  25.5  26
IT          60500.0  61000  60000  30.5  31